.App {
  font-family: sans-serif;
  text-align: center;
}

.fondo {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.titulo {
  text-align: center;
  margin-top: 80px;
  color: green;
  font-family: "Architects Daughter";
}

.ImagenInicio {
  height: 120px;
  justify-content: center;
  margin-top: 30px;
}

.centrarBtnInicio {
  margin-top: 15px;
  text-align: center;
}

.comenzar {
  color: white;
}

.fondologins {
  height: 100px;
  width: 800px;
  text-align: center;
  background-color: blue;
}

.clickaqui {
  color: black;
}

.compartir {
  color: rgb(235, 8, 8);
}

.canecaVerde {
  height: 200px;
  background-color: transparent;
  border: 0px;
  text-align: center;
}

.barraNavegacionIcon {
  margin-top: 120px;
  text-align: center;
}

.marmen {
  text-align: center;
  margin-top: 50px;
}

.canecaRoja {
  height: 200px;
  background-color: transparent;
  border: 0px;
  text-align: center;
}

.canecaAzul {
  height: 200px;
  background-color: transparent;
  border: 0px;
  text-align: center;
}

.canecaGris {
  height: 200px;
  background-color: transparent;
  border: 0px;
  text-align: center;
}

.flechaAtras {
  background-color: transparent;
  border: 0px;
  text-align: center;
  position: relative;
  left: 30px;
  position: absolute;
  bottom: 200px;
}

.casa {
  background-color: transparent;
  border: 0px;
}
.perfil {
  background-color: transparent;
  border: 0px;
}

.menu {
  background-color: transparent;
  border: 0px;
}

.trofeo {
  background-color: transparent;
  border: 0px;
}

.medalla {
  background-color: transparent;
  border: 0px;
}

.configuracion {
  background-color: transparent;
  border: 0px;
}

.canecaRoja {
  padding: 10%;
}
.canecaAzul {
  padding: 10%;
}

.canecaGris {
  padding: 10%;
}

.inicioSesion {
  text-align: center;
  margin-top: 0px;
  color: green;
  font-family: "Architects Daughter";
}

.tituloPerfil {
  text-align: center;
  margin-top: 90px;
  color: green;
  font-family: "Architects Daughter";
}

.tituloRegistro {
  text-align: center;
  margin-top: 0px;
  color: green;
  font-family: "Architects Daughter";
}

.registrar {
  color: white;
}

.iconPerfil {
  border: 0px;
  text-align: center;
  position: relative;
  left: 580px;
  position: absolute;
  bottom: 490px;
}

.bordes {
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  width: 400px;
  height: 440px;
  margin: 70px auto;
}

.bordesForm {
  margin: 20px 20px;
}

.iconNombre {
  text-align: center;
  position: relative;
  left: 600px;
  position: absolute;
  bottom: 400px;
}

.iconCorreo {
  text-align: center;
  position: relative;
  left: 600px;
  position: absolute;
  bottom: 340px;
}

.iconPuntos {
  text-align: center;
  position: relative;
  left: 565px;
  position: absolute;
  bottom: 285px;
}
